<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.alex.bax">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.timer.TimerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.info.AttackListActivity"
            android:label="@string/title_attack_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.info.AttackDetailActivity"
            android:label="@string/title_attack_detail"
            android:parentActivityName=".views.info.AttackListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.alex.bax.views.info.AttackListActivity" />
        </activity>
        <activity
            android:name=".views.exercise.ExerciseActivity"
            android:label="@string/title_activity_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.exercise.NewExerciseActivity"></activity>
    </application>

</manifest>